<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<form action="/books/new" method="post">
    <label for="name">Name
        <input id="name" name="name", type="text"><br>
    </label>
    <label for="author">Author
        <input id="author" name="author" type="text"><br>
    </label>
    <label for="year">Author
        <input id="year" name="year" type="number"><br>
    </label>
    <button type="submit">add</button>
</form>
</body>
</html>